.svg-icon {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.pointer {
  cursor: pointer;
}

.btn-1 {
  padding: 11px 16px;
  background: linear-gradient(147.26deg, $menuHover 25.72%, $magentaColor 75.91%);
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: center;
  color: $white;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
  &:hover {
    @media (min-width: breakpoint-min(xl)) {
      background: linear-gradient(350.22deg, $menuHover 22.39%, $magentaColor 80.07%);
    }
  }
  &:active {
    background: linear-gradient(350.22deg, $menuHover 22.39%, $menuHover 80.07%);
  }
}

.btn-2 {
  cursor : pointer;
  outline : none;
  border: none;
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  padding: 11px 16px;
  border-radius: 8px;
  background-color: transparent;
  background-image: linear-gradient(147.26deg, $menuHover 25.72%, $magentaColor 75.91%), linear-gradient(147.26deg, $menuHover 25.72%, $magentaColor 75.91%);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
  color: $white;
  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 21px;
    border: 2px solid $menuHover;
    border-right: none;
    border-radius: 8px 0 0 8px;
  }
  &:after {
    border: 2px solid $magentaColor;
    border-left: none;
    left: auto;
    right: 0;
    border-radius: 0 8px 8px 0;
  }
  &:hover {
    color: $white;
    background: linear-gradient(147.26deg, $menuHover 25.72%, $menuHover 75.91%);
    &:before,
    &:after {
      content: unset;
    }
    span {
      background-image: unset !important;
      color: $white;
      -webkit-text-fill-color: unset;
    }
  }
  &:active {
    background: linear-gradient(350.22deg, rgba($menuHover, 0.6) 22.39%, rgba($menuHover, 0.6) 80.07%);
    &:before,
    &:after {
      content: unset;
    }
  }

  span {
    background-image: linear-gradient(147.26deg, $menuHover 25.72%, $magentaColor 75.91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.px-xl-60 {
  @media (min-width: breakpoint-min(xl)) {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

.head-text {
  font-family: $font700;
  margin-top: 30px;
  margin-bottom: 25px;
  background-image: linear-gradient(147.26deg, $menuHover 25.72%, $magentaColor 75.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: breakpoint-min(xl)) {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 43px;
  }
}

.wrapper {
  border-radius: 26px 26px 0 0;
  background-color: $white;
  box-shadow: 0px -5px 19.4px 0px rgba($black, 0.07);
}

.mb-50 {
  margin-bottom: 50px;
}

.custom-scroll-bar {
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
  &::-webkit-scrollbar {
    width: 4px;
    background-color: $white;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: rgba($black, 0.1);
  }

  @media (max-width: breakpoint-max(lg)) {
    overflow-y: auto;
  }
}