.footer-social {
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.75;
  }
}

.footer-head {
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  padding: 6px 0;
}

.footer-link {
  color: $linkColor;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  &:hover {
    background-image: linear-gradient(147.26deg, $menuHover 25.72%, $magentaColor 75.91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

footer {
  padding-top: 40px;
  padding-bottom: 50px;
  background: linear-gradient(147.26deg, rgba(255, 102, 0, 0.05) 25.72%, rgba(209, 40, 161, 0.05) 75.91%);
}

.copyright {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}