.header {
  z-index: 9999;
  top: 0;
  padding: 18px;
  border-radius: 0 0 26px 26px;
  box-shadow: 0 4px 15px 0 rgba($black, 0.07);
  background-color: $white;

  @media (min-width: breakpoint-min(xl)) {
    padding: 16.5px 48px;
  }
}

.mobile-menu-opened .header {
  border-radius: 0;
}

.menu-btn {
  font-size: 36px;
  line-height: 36px;
}