// Fonts
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('./Montserrat-VariableFont_wght.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Montserrat600';
  font-display: swap;
  src: url('./MontserratAlternates-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Montserrat700';
  font-display: swap;
  src: url('./MontserratAlternates-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

$font: 'Montserrat', Tahoma;
$font600: 'Montserrat600', Arial;
$font700: 'Montserrat700', Arial;
$magentaColor: #D128A1;
$menuColor: #4F4F4F;
$menuHover: #FF6600;
$borderColor: #9DA6AA;

body {
  font-family: $font;
}