.menu-backdrop {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.85);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.header-nav a {
  color: $menuColor;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  &:not(:last-of-type) {
    @media (min-width: breakpoint-min(md)) {
      margin-right: 6px;
    }

    @media (min-width: breakpoint-min(xl)) {
      margin-right: 24px;
    }
  }
  &:first-of-type {
    font-weight: 500;
    color: $menuHover;
    &:hover {
      color: rgba($menuHover, 0.83);

      img {
        opacity: 0.83;
      }
    }
  }
  &:hover {
    @media (min-width: breakpoint-min(xl)) {
      color: $menuHover;
    }
  }
}

.menu {
  .header-nav {
    a {
      @media (max-width: breakpoint-max(md)) {
        display: block !important;
        width: 100%;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        margin: 12px 0;
      }
    }

    @media (max-width: breakpoint-max(md)) {
      margin-top: 50px;
    }
  }
  &.open {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }

  @media (max-width: breakpoint-max(md)) {
    position: fixed;
    top: 71px;
    left: 0;
    height: calc(100vh - 170px);
    background: $white;
    padding: 25px 20px;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
  }
}